@model ProductListViewModel

@{
    ViewBag.Title = "Products List";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Adjust layout path based on your project structure
}
<h2>Category List</h2>

<table class="table table-hover table-light">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">
                <div style="float:right">Actions</div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr class="table-secondary">
                <td scope="row">@product.Name</td>
                <td scope="row">@product.Description</td>
                <td scope="row">
                    <div style="float:right">
                        <a href="@Url.Action("Delete", "Product", new { id = product.Id })" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<a href="@Url.Action("Edit", "Product", new { id = 0 })" class="btn">Filter</a>